# Server settings
PORT=5001
NODE_ENV=development

# Allowed CORS client URL
VITE_CLIENT_URL=http://localhost:5173

# Secret token signing key
JWT_SECRET=replace_with_a_long_random_secure_secret_key

# Google Gemini API key
GEMINI_API_KEY=your_gemini_api_key

# Firebase Admin Service Account Credentials
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_CLIENT_EMAIL=your_firebase_client_email@your_firebase_project_id.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_lines_with_newline_characters\n-----END PRIVATE KEY-----\n"
